<main class="main">
  <div class="content">
    <div class="container" style="max-width: 600px; margin: 20px auto;">
      <h2>Meine Pi-Tasks</h2>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <mat-icon matListItemIcon>task_alt</mat-icon>
          <div matListItemTitle>{{ todo.summary }}</div>
          <div matListItemLine>{{ todo.description }}</div>
          <div matListItemLine style="color: gray; font-size: 0.8em;">
            Fällig am: {{ todo.dueDateTime | date:'dd.MM.yyyy HH:mm' }}
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

      <p *ngIf="(todos$ | async)?.length === 0">Keine Aufgaben gefunden. Mach mal Pause!</p>
    </div>
  </div>
</main>
<router-outlet />
